@import 'vars';
@import 'mixins';


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.center {
    padding-left: calc(50% - $contentWidth / 2);
    padding-right: calc(50% - $contentWidth / 2);
}

//----------------------------------
.header{
    background-color: #222;
    @include flex_justifycontent_alignitems_gap(space-between, center, pass);
    padding-top: 18px;
    padding-bottom: 18px;
    &_left {
        @include flex_justifycontent_alignitems_gap(space-between, center, 41px);
        & path {
            transition: fill 0.3s;
        }
        &:hover path {
            fill: $specificColor;
        }
    }
    &_right {
        @include flex_justifycontent_alignitems_gap(space-between, center, 33px);
        &_button {
            border: none;
            background-color: transparent;
            & path {
                transition: fill 0.3s;
            }
            &:hover path {
                fill: $specificColor;
            }
            &_basket {
                @include flex_justifycontent_alignitems_gap(space-between, center, pass);
                position: relative;
                &_added {
                    position: absolute;
                    @include font_weight_size_height_color(400, 12px, 14px, white);
                    left: 70%;
                    bottom: 60%;
                    background-color: $specificColor;
                    border-radius: 15px;
                    padding: 3px 6px;
                }
            }
        }
    }
}

//----------------------------------
.first_section_header {
    background-color: #F8F3F4;
    height: 148px;
    @include flex_justifycontent_alignitems_gap(space-between, center, pass);
    &_leftlink{
        @include font_weight_size_height_color(400, 24px, 29px, $specificColor);
    }
    &_rightlinks{
        @include flex_justifycontent_alignitems_gap(center, center, 6px);
        &_link{
            @include font_weight_size_height_color(300, 14px, pass, #636363);
            &:not(:last-child) {
                transition: color 0.3s;
                &:hover {
                    color: $specificColor;
                }
                &::after{
                content: '/';
                position: relative;
                left: 3px;
                }
            }
            &:last-child{
                color: $specificColor;
            }
        }
    }
}

//----------------------------------
.first_section_bottom {
    height: 777px;
    margin-bottom: 664px;
    background-color: #EAEAEA;
    @include flex_justifycontent_alignitems_gap(space-between, center, pass);
    &_button {
        border: none;
        &:hover #Vector {
            fill: $specificColor;
        }
        &:hover #Vector2 {
            fill: $specificColor;
        }
    }
}

//----------------------------------
.second_section {
    @include flex_justifycontent_alignitems_gap(center, center, pass);
    position: relative;
    &_absolute {
        @include flex_justifycontent_alignitems_gap(center, center, pass);
        position: absolute;
        width: $contentWidth;
        padding: 0px;
        border: solid 1px #EAEAEA;
        background-color: #fff;
        flex-direction: column;
        bottom: 130px;
    }
    &_title {
        @include font_weight_size_height_color(300, 14px, 17px, $specificColor);
        margin-top: 65px;
        margin-bottom: 12px;
    }
    &_div1 {
        width: 63px;
        border-top: solid 3px $selectedColor;
        margin-bottom: 12px;
    }
    &_h3 {
        @include font_weight_size_height_color(300, 18px, 22px, #4D4D4D);
        margin-bottom: 49px;
    }
    &_text {
        @include font_weight_size_height_color(300, 14px, 17px, #5E5E5E);
        max-width: 555px;
        text-align: center;
        margin-bottom: 33px;
    }
    &_price {
        @include font_weight_size_height_color(300, 24px, 29px, $selectedColor);
        margin-bottom: 65px;
    }
    &_div2 {
        width: 642px;
        border-top: solid 1px $selectedColor;
        margin-bottom: 65px;
    }
    &_nav {
        @include flex_justifycontent_alignitems_gap(space-between, center, 23px);
        &_filter {
            @include font_weight_size_height_color(400, 14px, 17px, #6F6E6E);
        }
        margin-bottom: 49px;
    }
    &_button {
        @include flex_justifycontent_alignitems_gap(center, center, 23px);
        @include font_weight_size_height_color(400, 16px, 20px, #F26376);
        padding: 14px 57px 14px 23px;
        background-color: #fff;
        border: solid 1px #FF6A6A;
        margin-bottom: 64px;
        transition: all 0.3s;
        &:hover {
            color: $selectedColor;
            border-color: $selectedColor;
                & path {
                fill: $selectedColor;
            }
        }
    }
}

//----------------------------------
.third_section {
    margin-bottom: 128px;
}

.cards_grid {
    @include flex_justifycontent_alignitems_gap(center, center, 30px);
    flex-wrap: wrap;
}

.card_grid {
    width: 360px;
    height: 587px;
    background-color: #F8F8F8;
}

.card_description {
    padding: 24px 16px;
    &_title {
        @include font_weight_size_height_color(bold, 13px, 16px, black);
        margin-bottom: 12px;
        display: block;
        transition: color 0.3s;
        &:hover {
            color: $specificColor;
        }
    }
    &_info {
        @include font_weight_size_height_color(300, 14px, 17px, #5D5D5D);
        margin-bottom: 18px;
    }
    &_price {
        @include font_weight_size_height_color(400, 16px, 19px, $specificColor);
    }
}

//----------------------------------
.subscribe {
    background-image: url(../img/subscribe_img_backgound.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_shading {
        background-image: url(../img/subscribe_shading_backgound.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include flex_justifycontent_alignitems_gap(center, start, 223px);
        &_photo {
            width: 360px;
            height: 225px;
            text-align: center;
            margin-top: 97px;
            margin-bottom: 126px;
            &_img {
                margin-bottom: 30px;
                padding-left: 122px;
            }
            &_text {
                @include font_weight_size_height_color (400, 20px, pass, #222224);
            }
        }
        &_form {
            width: 557px;
            text-align: center;
            @include flex_justifycontent_alignitems_gap(center, center, 32px);
            flex-direction: column;
            margin-top: 150px;
            &_title {
                @include font_weight_size_height_color (700, 24px, pass, #222224);
                & span {
                    @include font_weight_size_height_color (400, 18px, pass, pass);
                }
            }
            &_items {
                display: flex;
                #inp_user_email {
                    @include font_weight_size_height_color (400, 14px, 17px, #222224);
                    background-color: #E1E1E1;
                    border: none;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    width: 234px;
                    height: 49px;
                    padding-left: 22px;
                }
            }
            &_button {
                background-color: $specificColor;
                @include font_weight_size_height_color (400, 14px, 17px, #fff);
                border: none;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                width: 100px;
                height: 49px;
                transition: background-color 0.3s;
                &:hover {
                    background-color: $selectedColor;
                }
            }
        }
    }
}

//----------------------------------
.footer {
    background-color: #222224;
    padding-top: 24px;
    padding-bottom: 23px;
    @include flex_justifycontent_alignitems_gap(space-between, center, pass);
    &_copyright {
        @include font_weight_size_height_color (400, 16px, 19px, #FBFBFB);
    }
    &_nav {
        @include flex_justifycontent_alignitems_gap(space-between, center, 7px);
        &_button {
            width: 32px;
            height: 32px;
            &:hover path {
                fill: $specificColor;
            }
        }
    }
    & path {
        transition: fill 0.3s;
    }
}
